.OfficialStoreContainer{
    width: 100%;
    border-radius: 4px;
    color: #313133 ;
    background: #fff ;
    overflow: hidden;
    margin: auto auto;
    box-shadow: 0 2px 5px 0 rgba(0,0,0, 0.05); 
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 20px 0 20px 0;
    border-radius: 4px;
}
.OfficialStoreContainer .imgContents{
    max-width: 80px!important;
    max-height: 80px!important;
}
.OfficialStoreContent:hover{
    box-shadow: 0 2px 5px 0 rgba(0,0,0, 0.75); 
}
.slick-list{
    margin: 30px;
}

.head{
    width: 100%;
    height: 48px;
    margin: 30px;
    margin-left: auto;
    color: #FFFFFF;
    background: #96D2C8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

.OfficialStoreContainer:hover .slick-next{
    display: flex!important;
    justify-content: center;
    align-items: center;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    border-radius: 99px;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background-color: #75757a;
    color: transparent!important;
    opacity: 1;
    right: 8px;
}

.OfficialStoreContainer:hover .slick-prev{
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    left: 8px;
    border-radius: 99px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #75757a !important;
    opacity: 1;
    z-index: 99;
}


@media (max-width: 560px) {
    .OfficialStoreContainer{
        margin: 5px 0 5px 0;
    }
}